<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="tzyh" />
<title></title>
<link href="../style/style.css"  rel="stylesheet" type="text/css" />
<SCRIPT type="text/javascript" src="js/jquery.js" ></SCRIPT>

<SCRIPT type="text/javascript" src="js/superfish.js" ></SCRIPT>

<SCRIPT type="text/javascript" src="js/slides.jquery.js" ></SCRIPT>

<SCRIPT type="text/javascript" src="js/effect.js" ></SCRIPT>
</head>
<script type="text/javascript" src="../../../../www.foreseebio.com/chengpin/tzyh.js" ></script>


<body style="background:url(../images/bjj.jpg) repeat;">

<table width="922" border="0" cellpadding="0" cellspacing="0" class="tb" style="background:#fff; ">
  <tr>
    <td colspan="2"><img src="../images/toubu.jpg"  width="921" height="102" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td width="142" valign="top"><img src="../images/daohang.jpg"  width="142" height="454" border="0" usemap="#Map2" /></td>
    <td valign="top" class="pd">
    	<img src="../images/t1.jpg"  width="140"/>
        <br />
      <p><table width="550" border="0" cellspacing="15" cellpadding="" style="margin:20px auto;">
  <tr>
    <td>昵称</td>
    <td><input name="" type="text" style="width:400px; height:30px;border:1px solid #ccc;"/></td>
  </tr>
  <tr>
    <td>电子邮件</td>
    <td><input name="" type="text" style="width:400px; height:30px;border:1px solid #ccc;"/></td>
  </tr>
  <tr>
    <td>电话</td>
    <td><input name="" type="text" style="width:400px; height:30px;border:1px solid #ccc;"/></td>
  </tr>
  <tr>
    <td>正文</td>
    <td><textarea name="" cols="" rows="" style="width:400px; height:100px;border:1px solid #ccc;"></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td><input name="" type="button" style="width:200px; height:30px;border:1px solid #ccc;" value="提交信息"/></td>
  </tr>
</table><br />

      </p>
      <p class="t">躲在一个时间里，想念一段时光的掌纹。躲在记忆雕刻下的一个温暖掌纹里，想念一个，站在来路也站在去路的,让我牵挂的人。</p>
      <p>
      一段时间，喜欢一段音乐，<br />
一段音乐，沉淀一段时光。<br />
一段时光，洗却一段悲伤。<br />
一段悲伤，留下一度迷藏。

      </p>
      <p class="t">曾经，曾经我想送给你那一朵紧握在手心里的小花，还不够完成一个童话，所以看着你浅笑安然，白马青蹄，匆匆走过有我的年华。只是那些年华，是不是只是无效的信，白纸黑字的喧哗。开封，只留下淡淡的浮尘，无果无花。世界曾经颠倒黑白。世界曾经失去声响。绮丽的夜，黑暗覆盖着左手， 左手覆盖着右手，右手覆盖着未来。曾经牵手的手指，夜里独自合十。</p>
      <p> 终于明白你已成为回忆，这场电影我已失去姓名。别人问起你的消息，答案在风中摇头叹息。一瞬间我跌进如海般的记忆，你的气息像埋伏在街头的青草露滴，我无意间打马而过，将沉默黑白的笑与泪勾起。忽然间心痛得无法取缔----原来，你是我从未丢失的泪戾。 ­想了很久，终于想通了一句话：希望是火 失望是烟，生活，一边点着火 一边冒着烟。
心里的那个位置，只留给你。只是那个你，现在在哪里呢。
</p>
<p>一个人的孤单 轻轻的。</p>
<p>一个人 轻轻地忘记。</p>

    </td>
  </tr>
  <tr>
  	<td height="50" colspan="2" align="center" valign="middle">欢迎光临</td>
  </tr>
</table>

<map name="Map" id="Map">
  <area shape="circle" coords="817,59,16" href="javascript:if(confirm('http://weibo.com/2169600652/profile?rightmod=1&wvr=5&mod=personinfo  \n\n???ļ??޷??? Teleport Ultra ????, ??Ϊ ????һ?????·???ⲿ??????Ϊ??????ʼ??ַ?ĵ?ַ??  \n\n?????ڷ??????ϴ????'))window.location='http://weibo.com/2169600652/profile?rightmod=1&wvr=5&mod=personinfo'"  target="_blank"/>
  <area shape="circle" coords="897,59,15" href="mailto:530704479@qq.com" />
  <area shape="circle" coords="857,59,16" href="javascript:void(0);" onClick="window.external.AddFavorite(document.location.href,document.title)" />
</map>

<map name="Map2" id="Map2">
  <area shape="rect" coords="7,5,133,39" href="../index.html"  />
  <area shape="rect" coords="5,49,136,88" href="zhangxiaojie.html"  />
  <area shape="rect" coords="4,99,137,132" href="zouzoutingting.html"  />
  <area shape="rect" coords="6,143,135,178" href="shiguanglaoqu.html"  />
  <area shape="rect" coords="5,192,138,228" href="huahuashijie.html"  />
  <area shape="rect" coords="6,237,136,271" href="banboyingqiang.html"  />
</map>
</body>
</html>
